@model TechJobsPersistent.ViewModels.AddJobViewModel

<h1>Add a Job</h1>

<from asp-controller="Home"
      asp-action="ProcessAddJobForm"
      method="post"
>

    <div class="form-group">
        <label asp-for="Name">Job Name</label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmployerId">Job Name</label>
        <select class="form-control" asp-for="EmployerId" asp-items="Model.Employers" ></select>
        <span asp-validation-for="EmployerId"></span>

        <a asp-controller="Employer" asp-action="Add">Add Employer</a>
    </div>

    <div class="form-group">
        @foreach (Skill skill in Model.Skills)
            {
                <label for="selectedSkills">@skill.Name</label>
                <input type="checkbox" name="selectedSkills" value="@skill.Id" />
            }
    </div>

    <input type="submit" value="Add Job" />
</from>

<br/>

<a asp-controller="Employer" asp-action="Add">Create a New Employer</a>

<br />
<div>
    <a asp-controller="Skill" asp-action="Add">Add Skill</a>

</div>
